.body {
    min-height: 100vh;
}

.displayBtns {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
}

.main {
    -webkit-column-count: 5;
    /* Chrome, Safari, Opera */
    -moz-column-count: 5;
    /* Firefox */
    column-count: 5;
    column-fill: balance;
}

.logo {
    font-size: 2em;
}

.card {
    width: 100%;
    padding: 0 !important;
}

.card-title {
    font-size: 16px !important;
}

.footer {
    position: absolute;
    bottom: 0;
}